[submodule "boa-abclop99"]
	path = boa-abclop99
	url = git@github.com:ucsd-compilers-s23/boa-abclop99.git
[submodule "cobra-abclop99"]
	path = cobra-abclop99
	url = git@github.com:ucsd-compilers-s23/cobra-abclop99.git
[submodule "week-4-caduceus/listings-rust"]
	path = week-4-caduceus/listings-rust
	url = git@github.com:denki/listings-rust.git
[submodule "diamondback-abclop99"]
	path = diamondback-abclop99
	url = git@github.com:ucsd-compilers-s23/diamondback-abclop99.git
[submodule "egg-eater"]
	path = egg-eater
	url = git@github.com:ucsd-compilers-s23/diamondback-abclop99.git
[submodule "forest-flame"]
	path = forest-flame
	url = git@github.com:abclop99/cse-131-forest-flame.git
